@page "/login"
@using ShoeRateBlazor.Models
@inject ApiService ApiService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<h3 class="text-primary">Login</h3>

<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" @bind="loginUser.Username" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" @bind="loginUser.Password" placeholder="Password" />
        </div>
        <button class="btn btn-primary" @onclick="LoginUser">Login</button>
    </div>
</div>

@code {
    private LoginUserRequest loginUser = new LoginUserRequest();

    private async Task LoginUser()
    {
        var response = await ApiService.LoginUserAsync(loginUser);
        // Save the token in local storage
        if (response?.Token != null)
        {
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", response.Token);
            Navigation.NavigateTo("/");
        }
    }
}







