<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <NavLink class="nav-link" href="items">
            Items
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="create-item">
            Create Item
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="rate-item">
            Rate Item
        </NavLink>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <NavLink class="nav-link" href="register">
            Register
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="login">
            Login
        </NavLink>
    </li>
</ul>
